<table id='dataGrid{$suffix}'></table>
<div id="toolbar{$suffix}" style="padding:2px 0">
	<table cellpadding="0" cellspacing="0" style="width:100%">
		<tr>
			<td style="padding-left:2px">
				<a href="#" class="easyui-linkbutton" plain="true" id="showRegion{$suffix}"></a>
				<span class="datagrid-btn-separator" style="vertical-align: middle; height: 15px;display:inline-block;float:none"></span>
				<if condition="($user_type eq '操作员')">
				<a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onClick="activeEdits('新增内容',1)">新增</a>
				<span class="datagrid-btn-separator" style="vertical-align: middle; height: 15px;display:inline-block;float:none"></span>
				<a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onClick="activeDeletes()">删除</a>
				<span class="datagrid-btn-separator" style="vertical-align: middle; height: 15px;display:inline-block;float:none"></span>
				<a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onClick="activeEdits('修改内容',3)">修改</a>
				<span class="datagrid-btn-separator" style="vertical-align: middle; height: 15px;display:inline-block;float:none"></span>
				<a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onClick="listManagement('条目管理')">条目管理</a>
				<!--<a href="#" class="easyui-linkbutton" iconCls="icon-application-get" plain="true" onClick="lineMove('up')" title="排序上移"></a>
				<a href="#" class="easyui-linkbutton" iconCls="icon-application-put" plain="true" onClick="lineMove('down')"title="排序下移"></a>
				<a href="#" class="easyui-linkbutton" iconCls="icon-table-multiple" plain="true" onClick="lineMove('top')"title="排序置顶"></a>-->
				<elseif condition="$user_type eq '内容审核'"/>
                    <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onClick="listManagement('条目管理')">条目管理</a>
				<elseif condition="$user_type eq '内容发布'"/>
                    <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onClick="listManagement('条目管理')">条目管理</a>

				</if>
			</td>
			<td style="text-align:right;padding-right:2px">
				<input id="serchboxs{$suffix}" menu="#mm" />
			</td>
		</tr>
	</table>
</div>
<div id="mm" style="width:80px">
	<div name="title" iconCls="icon-application-view-list">标题</div>
</div>
<script>
	$("#Loadings").show();
	$(function(){
		$('#showRegion{$suffix}').html( '区域：' + region_name );
	});
	
	var data_arr;//声明选择数据行数组
	var editsFlag;//编辑状态
	var editsTitle;//编辑标题
	var auditType;//审核/发布
	
	var editHtml = "__MODULE__/Content/editHtml";//编辑页面地址
	var activeNodeHtml = "__MODULE__/Content/activeNodeHtml";//编辑页面地址
	var activeDataHtml = "__MODULE__/Content/activeDataHtml";//编辑页面地址
	var controllerLineMove = "__MODULE__/Content/lineMove"; //排序控制器方法
	var controllerTopMove = "__MODULE__/Content/topMove"; //置顶控制器方法
	var controllerAuditHtml = "__MODULE__/Content/auditHtml"; //审核页面地址
	var controllerAudits = "__MODULE__/Content/audits";//审核控制器方法
	var controllerOnOrDownLine = "__MODULE__/Content/onOrDownLine";//上下线控制器方法
	var activeControllerDeletes = "__MODULE__/Content/activeDeletes";//删除功能控制器方法

	var selectorDataGrid = $('#dataGrid{$suffix}'); //datagrid 组件选择器
	var selectorSearBox = $('#serchboxs{$suffix}'); //serchbox 组件选择器
	
	var pageSize=60; //datagrid 默认显示行数
	var toolbar = "#toolbar{$suffix}"; //工具条
	var dataGridUrl = '__MODULE__/Content/showData?node_id='+node_code+'&node_type='+node_type+'&region_id='+region_id;
	var idField="id";
	var columns=[[
        {field:'img',title:'图片',width:50},
		{field:'title',title:'标题',width:50},
		{field:'region_id',title:'所属区域',width:50,formatter:function( v , d , i ){
			return region_name;
		}},
        {field:'desc',title:'简介',width:150}
	]];
	creatDataGrid( selectorDataGrid , pageSize , toolbar , dataGridUrl , idField , columns );
	creatSearchBox( selectorDataGrid );
	/*
	var pg = selectorDataGrid.datagrid( 'getPager' ); 
	if( pg ){  
		$( pg ).pagination({  
		   onSelectPage:function( pageNumber , pageSize ){  
			   selectorDataGrid.datagrid( 'unselectAll' ); 
			}  
		});  
	} 
*/	
</script>