<table id='dataGrid{$suffix}'></table>
<div id="toolbar{$suffix}" style="padding:2px 0">
	<table cellpadding="0" cellspacing="0" style="width:100%">
		<tr>
			<td style="padding-left:2px">
				<a href="#" class="easyui-linkbutton" plain="true" id="showRegion"></a>
				<span class="datagrid-btn-separator" style="vertical-align: middle; height: 15px;display:inline-block;float:none"></span>
				<if condition="($user_type eq '操作员')">
				<a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onClick="edits('新增内容',1)">新增</a>
				<span class="datagrid-btn-separator" style="vertical-align: middle; height: 15px;display:inline-block;float:none"></span>
				<a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onClick="deletes()">删除</a>
				<span class="datagrid-btn-separator" style="vertical-align: middle; height: 15px;display:inline-block;float:none"></span>
				<a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onClick="edits('修改内容',3)">修改</a>
                <span class="datagrid-btn-separator" style="vertical-align: middle; height: 15px;display:inline-block;float:none"></span>
                <a href="#" class="easyui-linkbutton" iconCls="icon-application-view-list" plain="true" onClick="commentManagement('评论管理')">评论管理</a>
				<span class="datagrid-btn-separator" style="vertical-align: middle; height: 15px;display:inline-block;float:none"></span>
				<a href="#" class="easyui-linkbutton" iconCls="icon-application-get" plain="true" onClick="lineMove('up')" title="排序上移"></a>
				<a href="#" class="easyui-linkbutton" iconCls="icon-application-put" plain="true" onClick="lineMove('down')"title="排序下移"></a>
				<a href="#" class="easyui-linkbutton" iconCls="icon-table-multiple" plain="true" onClick="lineMove('top')"title="排序置顶"></a>
				<elseif condition="$user_type eq '内容审核'"/>
				<a href="#" class="easyui-linkbutton" iconCls="icon-audit" plain="true" onClick="audits('内容审核','con_auditor')">审核</a>
				<elseif condition="$user_type eq '内容发布'"/>
				<a href="#" class="easyui-linkbutton" iconCls="icon-release" plain="true" onClick="audits('内容发布','con_release')">发布</a>
				<span class="datagrid-btn-separator" style="vertical-align: middle; height: 15px;display:inline-block;float:none"></span>
				<a href="#" class="easyui-linkbutton" iconCls="icon-online" plain="true" onClick="onOrDownLine('on')">上线</a>
				<span class="datagrid-btn-separator" style="vertical-align: middle; height: 15px;display:inline-block;float:none"></span>
				<a href="#" class="easyui-linkbutton" iconCls="icon-downline" plain="true" onClick="onOrDownLine('down')">下线</a>
                <span class="datagrid-btn-separator" style="vertical-align: middle; height: 15px;display:inline-block;float:none"></span>
                <a href="#" class="easyui-linkbutton" iconCls="icon-application-view-list" plain="true" onClick="commentManagement('评论管理')">评论管理</a>
                </if>
				<a href="#" class="easyui-linkbutton" iconCls="icon-application-form-magnify" plain="true" onClick="previews(selectorDataGrid)" title="预览"></a>
			</td>
			<td style="text-align:right;padding-right:2px">
				<input id="serchboxs{$suffix}" menu="#mm"></input>
			</td>
		</tr>
	</table>
</div>
<div id="mm" style="width:80px">  
	<div name="operate_time" iconCls="icon-application-view-list">修改时间</div>  
	<div name="title" iconCls="icon-application-view-list">标题</div>
	<div name="status" iconCls="icon-application-view-list">状态</div>
</div>
<script>
	$("#Loadings").show();
	$(function(){
		$('#showRegion').html( '区域：' + region_name );
	});
	
	var data_arr;//声明选择数据行数组
	var editsFlag;//编辑状态
	var editsTitle;//编辑标题
	var auditType;//审核/发布
	var editHtml = "__MODULE__/Content/editHtml";//编辑页面地址
    var commentDataHtml = "__MODULE__/Content/commentDataHtml";//编辑页面地址
	var controllerLineMove = "__MODULE__/Content/lineMove"; //排序控制器方法
	var controllerTopMove = "__MODULE__/Content/topMove"; //置顶控制器方法
	var controllerAuditHtml = "__MODULE__/Content/auditHtml"; //审核页面地址
	var controllerAudits = "__MODULE__/Content/audits";//审核控制器方法
	var controllerOnOrDownLine = "__MODULE__/Content/onOrDownLine";//上下线控制器方法
	var controllerDelets = "__MODULE__/Content/deletes";//删除功能控制器方法
	
	var selectorDataGrid = $('#dataGrid{$suffix}'); //datagrid 组件选择器
	var selectorSearBox = $('#serchboxs{$suffix}'); //serchbox 组件选择器

	var pageSize=60; //datagrid 默认显示行数
	var toolbar = "#toolbar{$suffix}"; //工具条
	var dataGridUrl = '__MODULE__/Content/showData?node_id='+node_code+'&node_type='+node_type+'&region_id='+region_id;
	var idField="id";
	var columns=[[
		{field:'title',title:'标题',width:100},
		{field:'type',title:'内容类型',width:50},
		{field:'region_id',title:'所属区域',width:50,formatter:function( v , d , i ){
			return region_name;
		}},
		{field:'operate_time',title:'修改时间',width:50},
		{field:'status',title:'状态',width:50,styler:function( v , d , r ){
			if( v == '待审核' ){
				return 'color:#36C1DD;font-weight:bold';
			}else if( v == '已审核' ){
				return 'color:#4FB83A;font-weight:bold';
			}else if( v == '驳回' ){
				return 'color:#F95809;font-weight:bold';
			}else if( v == '上线' ){
				return 'color:#8B09F9;font-weight:bold';
			}else if( v == '下线' ){
				return 'color:#F99609;font-weight:bold';
			}
		}},
		{field:'review_msg',title:'驳回原因',width:50}
	]];
	creatDataGrid( selectorDataGrid , pageSize , toolbar , dataGridUrl , idField , columns );
	creatSearchBox( selectorDataGrid );
	/*
	var pg = selectorDataGrid.datagrid( 'getPager' ); 
	if( pg ){  
		$( pg ).pagination({  
		   onSelectPage:function( pageNumber , pageSize ){  
			   selectorDataGrid.datagrid( 'unselectAll' ); 
			}  
		});  
	} 
*/	
</script>