<div class="easyui-panel" fit=true border=false>
	<div class="easyui-layout" fit=true>
		<div region='center' border=false>
			<div class='easyui-panel' fit=true title="内容审核" style="padding:3px;">
				<table class='browser'>
					<tr>
						<td class='sidebar' colspan="2">基本信息</td>
					</tr>
					<tr>
						<td class='label'>标题</td>
						<td id="title{$suffix}"></td>
					</tr>					
					<tr>
						<td class='label'>排版样式</td>
						<td id="type{$suffix}"></td>
					</tr>
					<tr>
						<td class='label'>视频地址</td>
						<td id="video_path{$suffix}"></td>
					</tr>
					<tr id="albumShow{$suffix}">
						<td id = 'album_photo{$suffix}' class = 'label'></td>
						<td id = 'album_title{$suffix}'></td>
					</tr>
					<tr id="contentShow{$suffix}">
						<td class='label'>内容或介绍</td>
						<td><textarea name="txtContent{$suffix}" id="txtContent{$suffix}" style="width: 100%; height:300px; visibility: hidden;"></textarea></td>
					</tr>
				</table>
			</div>
		</div>
		<div region="south" border="false" style="overflow: hidden;height:35px;text-align:center;line-height:35px;margin-top:3px;background:#F2F2F2">
			<a href="#" class="easyui-linkbutton" onClick="sendAudit(1)">通过</a>
			<a href="#" class="easyui-linkbutton" onClick="sendAudit(2)">驳回</a>
		</div>
	</div>
</div>
<div id="auditDialog{$suffix}">
	<table class='browser'>
		<tr>
			<td class='label'>请输入驳回原因</td>
			<td><textarea id="review_msg{$suffix}" name="review_msg{$suffix}" class="textarea"></textarea></td>
		</tr>
	</table>
</div>
<script>
	var editor;
	$(function(){
		$.parser.onComplete = function(){
			editor = KindEditor.create('textarea[name="txtContent{$suffix}"]', {
				resizeType: 1,
				allowPreviewEmoticons: false,
				items: [],
				allowFileManager : false,
				pasteType:2,
				afterCreate : function(){
					this.sync(); 
				},
				afterBlur:function(){
					this.sync();
				}   
			});	
			$('.ke-edit').css('height', '90%');
		}
		$('#txtContent{$suffix}').html( data_arr[0].contents );
		$('#title{$suffix}').html( data_arr[0].title );
		if (data_arr[0].is_node == 'n') {
			$('#type{$suffix}').html( data_arr[0].home_type );
		} else {
			$('#type{$suffix}').html( data_arr[0].type );
		}
		
		$('#video_path{$suffix}').html( data_arr[0].video_path );
		
		if( data_arr[0].type == '有图征询' || data_arr[0].type == '相册' || data_arr[0].type == '全屏视频' ){
			$('#contentShow{$suffix}').hide();
			if( data_arr[0].type == '相册' ){
				var t_arr = data_arr[0].contents.split( '!!' );
				var p_arr = data_arr[0].path.split( '!!' );
				$.each( p_arr , function( i , n ){
					var album_photo = "<img id='"+i+"' src = '"+n+"' width = '80px' height = '40px' style= 'margin-bottom:5px;' onClick='c("+i+")' title='点击删除图片' name='"+n+"' flag='album_photo'><br>";
					
					var album_title = "<textarea id='"+i+"Title' name='"+i+"Title' style= 'width:200px;height:40px;margin-bottom:5px;font-size:12px' class='albumTitle'></textarea><br>";
					$('#album_photo{$suffix}').append( album_photo );
					$('#album_title{$suffix}').append( album_title );
					$('#'+i+'Title').html( t_arr[i] );
				});					
			} else if (data_arr[0].type == '有图征询') {
				var tit_arr = data_arr[0].contents.split( '@@' );
				var t_arr = tit_arr[0].split('!!');
				var c_arr = tit_arr[1].split('!!');
				var p_arr = data_arr[0].path.split( '!!' );
				$.each( p_arr , function( i , n ){
					var album_photo = "<img id='"+i+"' src = '"+n+"' width = '80px' height = '40px' style= 'margin-bottom:5px;' onClick='c("+i+")' title='点击删除图片' name='"+n+"' flag='album_photo'><br>";
					
					var album_title = "<textarea id='"+i+"Title' name='"+i+"Title' style= 'width:300px;height:40px;margin-bottom:5px;font-size:12px' class='albumTitle'>标题</textarea>&nbsp;&nbsp;<textarea id='"+i+"Cont' name='"+i+"Cont' style= 'width:300px;height:40px;margin-bottom:5px;font-size:12px' class='albumCont'>内容</textarea><br>";
					
					$('#album_photo{$suffix}').append( album_photo );
					$('#album_title{$suffix}').append( album_title );
					$('#'+i+'Title').html( t_arr[i] );
					$('#'+i+'Cont').html( c_arr[i] );
				});	
				
			}
		}
		
	});
	var dialogSelector = $("#auditDialog{$suffix}");
	var selectorContent = $("#review_msg{$suffix}");
	
	var width = 650;
	var height = 260;
	var iconCls = 'icon-add';
	var id = data_arr[0].id;
	var buttons = [	
		{text:'提交',handler:function(){
			var review_msg = selectorContent.val();
			if(review_msg == "" ){
				$.messager.show({
					title:"系统提示", 
					msg:"驳回理由不能为空"
				});	
				return;
			}
			dialogSelector.dialog('close');
			var data = { id : id , review_msg : review_msg , flag : auditType , status : '驳回' };
			sendData( '__MODULE__/Content/audits' , data , selectorDataGrid );
		}},
		{text:'重置',handler:function(){
			selectorContent.attr("value",'');		 
		}}
	];
	
	function sendAudit( _f ){
		if( _f == 2 ){
			createDiaLog( dialogSelector , editsTitle , width , height , iconCls , buttons)	;
			dialogSelector.dialog('open');
		}else if( _f == 1 ){
			if( auditType == 'con_auditor' ) var status = '已审核';
			else if( auditType == 'con_release' ) var status = '上线';
			var data = { id : id , flag : auditType , status : status };
			sendData( '__MODULE__/Content/audits' , data , selectorDataGrid );
		} 
	}
	
	function sendData( _controller , _data , _selector ){
		$('#Loadings').show();
		$.post( _controller , _data , function( result ){
			$('#Loadings').hide();
			$.messager.show({
				title:result.title , 
				msg:result.message
			});
			if ( result.error == 0 ){
				_selector.datagrid( 'reload');
				closeTab( editsTitle );
			}
			
		},'json');	
	}
/*
function sendAudit(_flag){
	var con_id=data_arr[0].con_id;
	var con_reject="";
	if(_flag==2){
		selectorDialog.dialog({
			modal:true,
			title:"审核驳回",
			width:650,
			height:260,
			maximizable:true,
			closed:true,
			cache:false,
			bodyCls:"pass",
			buttons:[
				{text:'提交',handler:function(){
					con_reject=selectorContent.val();
					if(con_reject==""){
						$.messager.show({
							title:"系统提示", 
							msg:"驳回理由不能为空"
						});	
						return;
					}else{
						$.post(controllerAudits,{con_id:con_id,flag:auditType,con_reject:con_reject,con_state:_flag,con_user:{$user_id}},function(result){
							$.messager.show({
								title:result.status , 
								msg:result.message
							});
							closeTab(editsTitle);
						},'json');							
					}
				}},
				{text:'重置',handler:function(){
					selectorContent.attr("value",'');
				}}
			]
		});
		selectorDialog.dialog('open');
	}else{
		$.post(controllerAudits,{con_id:con_id,flag:auditType,con_state:_flag,con_reject:con_reject,con_user:{$user_id}},function(result){
			$.messager.show({
				title:result.status , 
				msg:result.message
			});
			closeTab(editsTitle);
		},'json');		
	}
}	
*/
</script>
