<table id='nodeData{$suffix}'></table>
<div id="nodeMenu{$suffix}" class="easyui-menu" style="width:130px;">
	<div id='insert{$suffix}' iconCls="icon-add" onclick="nodeDataEdit(1)">新增下属栏目</div>
	<div class='menu-sep'></div>
	<div iconCls="icon-edit" onclick="nodeDataEdit(3)">修改本级栏目数据</div>
	<div class='menu-sep'></div>
	<div id='delete{$suffix}' iconCls="icon-remove" onclick="nodeDataEdit(2)">删除本级栏目数据</div>
</div>
<div id="regDialog{$suffix}">
	<table class='browser'>
		<tr>
			<td class='label'>栏目名称</td>
			<td>
				<input type='text' id='text{$suffix}' name='text{$suffix}' class='myInp'>&nbsp;&nbsp;<span style='color:red'>*</span>
			</td>
		</tr>
        <!--<tr>
            <td class='label'>是否为底级栏目:</td>
            <td>
                <select size="1" name="nodeType" class="select" id="nodeType" style="width:150px;">
                    <option selected="selected" value=0>否</option>
                    <option value=1>是</option>
                </select>
            </td>
        </tr>-->
	</table>
</div>

<!--
<table id='editNode_data'></table>
<div id="editNodePid1" class="easyui-menu" style="width:140px;">
	<div iconCls="icon-add" onclick="append()">新增所属栏目</div>
	<div class='menu-sep'></div>
	<div iconCls="icon-edit" onclick="update()">修改本级栏目数据</div>
</div>

<div id="editNodePid2" class="easyui-menu" style="width:140px;">
	<div iconCls="icon-add" onclick="append()">新增所属栏目</div>
	<div class='menu-sep'></div>
	<div iconCls="icon-edit" onclick="update()">修改本级栏目数据</div>
	<div class='menu-sep'></div>
	<div iconCls="icon-remove" onclick="removes()">删除本级栏目数据</div>
</div>

<div id="editNodePid4" class="easyui-menu" style="width:140px;">
	<div iconCls="icon-edit" onclick="update()">修改本级栏目数据</div>
	<div class='menu-sep'></div>
	<div iconCls="icon-remove" onclick="removes()">删除本级栏目数据</div>
</div>

<div id='nodeDialog'>
	<table class='browser'>
		<tr><td class='label'>栏目名称:</td><td><input type='text' id='nodeName' name='nodesName' class='myInp'>&nbsp;&nbsp;<span style='color:red'>*</span></td></tr>
		<tr><td class='label'>是否为底级栏目:</td><td>
			<select size="1" name="nodeType" class="select" id="nodeType" style="width:150px;">
				<option selected="selected" value=0>否</option>
				<option value=1>是</option>
			</select>
		</td></tr>
	</table>
</div>
-->
<script>
	$('#nodeData{$suffix}').treegrid({
		fit:true,
		idField:'id',//数据表格要有主键	
		treeField:'text',//treegrid 树形结构主键 text
		animate:true,//动画效果
		fitColumns:true,//自动扩大或缩小列的尺寸以适应表格的宽度并且防止水平滚动
		rownumbers:false,//显示行号的列
		url:'__MODULE__/Index/showTvNodeData?region_id='+region_id,
		columns:[[
			{field:'text',title:'栏目名称　[请右键点击节点进行操作管理]',width:200} ,
			{field:'id',title:'栏目ID',width:100} ,
			{field:'pid',title:'父级栏目ID',width:100},
			{field:'node_code',title:'栏目CODE',width:100} ,
            {field:'type',title:'栏目类型',width:100},
            {field:'region_level',title:'栏目区域级别',width:120},
            {field:'has_son',title:'是否有子节点',width:120},
			{field:'services',title:'是否为最底栏目',width:120}
		]],
        onContextMenu: function(e,row){
			e.preventDefault();					//屏蔽浏览器的菜单
			$(this).treegrid('unselectAll');	//清除所有选中项
			//选中状态
			$(this).treegrid('select', row.id);
            var type = row.type;
            var is_leaf = row.is_leaf;
            var has_child = row.has_child;
            if(type == 'column' && is_leaf == 'yes' && has_child == 'no') {
                $('#insert{$suffix}').hide();
                $('#delete{$suffix}').show();
            } else if (type == 'column' && is_leaf == 'no' && has_child == 'yes') {
                $('#insert{$suffix}').show();
                $('#delete{$suffix}').hide();
            } else {
                $('#insert{$suffix}').hide();
                $('#delete{$suffix}').hide();
            }
            $('#nodeMenu{$suffix}').menu('show', {
                left: e.pageX,
                top: e.pageY
            });
            if (row.pid == 0) {
                $('#insert{$suffix}').hide();
                $('#delete{$suffix}').hide();
                $('#nodeMenu{$suffix}').menu('hide', {
                    left: e.pageX,
                    top: e.pageY
                });
            }
		}
	});
	
	function nodeDataEdit( _flag ){
		$('#text{$suffix}').attr( 'value' , '' );
		var gridNode = $('#nodeData{$suffix}').treegrid('getSelected');
		if( _flag == 1 || _flag == 3 ){
			var selector = $('#regDialog{$suffix}');
			_flag == 3 ? $('#text{$suffix}').attr( 'value' , gridNode.text ) : $('#text{$suffix}').attr( 'value' , '' );
			var title = _flag == 1 ? "新增" + gridNode.text + "所属区域" : "修改" + gridNode.text + "信息";
			var width = 480;
			var height = 100;
			var iconCls = _flag == 1 ? "icon-add" : "icon-edit";
			var buttons =[
				{text:'提交',id:'regSubmit',handler:function(){
					if( $('#text{$suffix}').val() == '' ){
						$.messager.show({
							title: "系统提示", 
							msg: "区域名称不能为空"
						});
						return;
					}
					var controller = '__MODULE__/Index/editNodeGridTree';
					var data = { id : gridNode.id , flag : _flag , text : $('#text{$suffix}').val(), region_id : region_id };
					sendData( controller , data );
					selector.dialog('close');
				}},
				{text:'重置',id:'regSet',handler:function(){
					$('#text{$suffix}').attr( 'value' , '' );
				}}
			];
			createDiaLog( selector , title , width , height , iconCls , buttons);
			selector.dialog('open');
		}else if( _flag == 2 ){
			var controller = '__MODULE__/Index/editNodeGridTree';
			var data = { id : gridNode.id , flag : _flag , region_id : region_id};
			$.messager.confirm('系统提示','您真的要删除'+gridNode.text+'记录吗，删除后数据不可恢复！',function(b){
				if( b ){
					sendData( controller , data );
				}
			});
		}
	}

    function sendData( _controller , _data ){
        $.post( _controller , _data , function(result){
            $.messager.show({
                title:result.title ,
                msg:result.message
            });
            if( result.error == 0 ){
                if ( _data.flag == 1 ){
                    $('#nodeData{$suffix}').treegrid( 'reload');
                    $('#nodeData{$suffix}').treegrid( 'expandTo' , _data.id );

                }else if ( _data.flag == 2 || _data.flag == 3){
                    var arr = $('#nodeData{$suffix}').treegrid( 'getParent' , _data.id );
                    $('#nodeData{$suffix}').treegrid( 'reload' , arr.id );
                }
            }
        },'json');
    }
</script>